@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

@font-face {
  font-family: 'Park';
  src:
    url('/fonts/park-webfont.woff2') format('woff2'),
    url('/fonts/park-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}